/* Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Font - Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* html,body {
    height: 100%;
} */

html, body {
    height: 100%;
    margin: 0;
}
.container-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-main {
    flex: 1;
}
.footer {
    /* position: relative; */
    /* bottom: 0; */
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: static !important;
    bottom: auto;
}

/* Font */
h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins", sans-serif;
}
p {
    font-family: "Raleway", sans-serif;
}
/* Background Color */
.bg-green {
    background-color: #F5F5F5;
}
.bg-yellow {
    background-color: #FBF9EF;
}
.bg-pink {
    background-color: #FCEFEE;
}
.bg-blue {
    background-color: #EDFAFD;
}
.bg-turquoise {
    background-color: #0D768B;
}
.bg-gold {
    background-color: #CFB53B;
}
/* Text Color */
.text-turquoise {
    color: #0D768B;
}

.text-gold {
    color: #CFB53B;
}

/* Button Color */
.btn-turquoise {
    background-color: #0D768B;
}

.btn-gold {
    background-color: #CFB53B;
}

.btn-yellow {
    background-color: #FBF9EF;
}

.btn-pink {
    background-color: #FCEFEE;
}

.btn-blue {
    background-color: #EDFAFD;
}

/* button with multiple images on user's profile */
.btn-profile-post{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
}

.btn-profile-post-prev{
    left: -9%;
}

.btn-profile-post-next{
    right: -9%;
}

/* button with multiple images on user's profile for search view*/
.btn-search-post-prev{
    left: -4%;
}

.btn-search-post-next{
    right: -4%;
}

/* button with multiple images on user's profile for go to post view*/
.btn-category-post-prev
.btn-category-post-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
}

.btn-category-post-prev{
    left: -4%;
}
.btn-category-post-next{
    right: -4%;
}


/* SMALL */
.icon-sm {
    font-size: 2rem;
}
.avatar-sm {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
/* MEDIUM */
.icon-md {
    font-size: 3.5rem;
}
.avatar-md {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}
/* LARGE */
.icon-lg {
    font-size: 9rem;
}
.avatar-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.image-community {
    width: 800px;    /* 9 * 16px = 144px */
    height: 300px;
    object-fit: cover;
}

.img-profile-index {
    width: 120px;
    height: auto;
    object-fit: cover;
}

.image-lg {
    width: 9rem;    /* 9 * 16px = 144px */
    height: 9rem;
    object-fit: cover;
}
.fa-heart {
    font-size: 1.5rem;
}
.xsmall {
    font-size: 0.65rem;
}
.grid-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
/* Nav bar */
.dropdown-toggle::after {
    display: none;
}
/* Footer */
/* .footer {
    position: relative;
    bottom: 0 !important;
    width: 100%;
} */

/* .cont {
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
} */

/* .wrap{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
  } */

/* Bottun hover */
.btn-gold {
    background-color: #CFB53B;
    color: white;
}

.btn-gold:hover {
    background-color: #FBF9EF;
    color: #CFB53B;
    border-color: rgb(216, 216, 216);
}

.btn-turquoise {
    background-color: #0D768B;
    color: white;
}

.btn-turquoise:hover,
.list-group-item.active {
    background-color: #EDFAFD;
    color: #0D768B ;
    border-color: rgb(216, 216, 216);
}

.btn-turquoise2 {
    background-color: #0D768B;
    color: white;
}

.btn-turquoise2:hover {
    background-color: white;
    color: #0D768B ;
    border-color: rgb(216, 216, 216);
}

.btn-gold-cancel:hover {
    background-color: #FBF9EF;
    color: #CFB53B;
    border-color: rgb(216, 216, 216);
}

.btn-gold-delete:hover {
    background-color: #CFB53B;
    color: white;
}

.border-gray {
    border-color: rgb(216, 216, 216);
}

.community-comment {
    word-break: break-word;
}

.boardheight {
    max-height: 800px;
}

.img-boardcomment {
    width: 300px !important;
    height: 250px !important;
    object-fit: cover;
}

/* Paginate */
.pagination {
    justify-content: center;
  }

/* search view, user"s category  */
  .flex-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
}
