/* Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Font - Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Font */
h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins", sans-serif;
}
p {
    font-family: "Raleway", sans-serif;
}
/* Background Color */
.bg-white {
    background-color: #F5F5F5;
}
.bg-yellow {
    background-color: #FBF9EF;
}
.bg-pink {
    background-color: #FCEFEE;
}
.bg-blue {
    background-color: #EDFAFD;
}
.bg-turquoise {
    background-color: #0D768B;
}
.bg-gold {
    background-color: #CFB53B;
}

/*Button  Color*/

.btn-gold {
    background-color: #CFB53B;
    color: white;
}

.btn-gold:hover {
    background-color: #FBF9EF;
    color: #CFB53B;
    border-color: rgb(216, 216, 216);
}

.btn-turquoise {
    background-color: #0D768B;
    color: white;
}

.btn-turquoise:hover {
    background-color: #EDFAFD;
    color: #0D768B ;
    border-color: rgb(216, 216, 216);
}

.btn-turquoise2 {
    background-color: #0D768B;
    color: white;
}

.btn-turquoise2:hover {
    background-color: white;
    color: #0D768B ;
    border-color: rgb(216, 216, 216);
}

.btn-category {
    background-color: #FCEFEE;
    color: black;
}
.btn-gold-cancel {
    background-color: #CFB53B;
    color: white;
}

.btn-gold-cancel:hover {
    background-color: #FBF9EF;
    color: #CFB53B;
    border-color: rgb(216, 216, 216);
}

.btn-gold-delete:hover {
    background-color: #CFB53B;
    color: white;
}

/* Text Color */
.text-turquoise {
    color: #0D768B;
}
/* SMALL */
.icon-sm {
    font-size: 2rem;
}
.avatar-sm {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
/* MEDIUM */
.icon-md {
    font-size: 3.5rem;
}
.avatar-md {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}
/* LARGE */
.icon-lg {
    font-size: 9rem;
}
.avatar-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}
.image-lg {
    width: 9rem;    /* 9 * 16px = 144px */
    height: 9rem;
    object-fit: cover;
}
.fa-heart {
    font-size: 1.5rem;
}
.xsmall {
    font-size: 0.65rem;
}
.grid-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
/* Nav bar */
.dropdown-toggle::after {
    display: none;
}
/* Footer */
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.avatar-show {
    font-size: 6rem;
}

.show-icon {
    font-size: 1.5rem;
}

.img-show {
    width: 500px;
    height: 250px;
    object-fit: cover;
}

.position-center {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.post-edit {
    color: #CFB53B;
}

.post-delete {
    color: #CFB53B;
}



.border-gray {
    border-color: rgb(216, 216, 216);
}

.border-turquoise {
    border-color: #0D768B;
    border-width: thick;
}

.border-red {
    border-color: rgb(174, 17, 17);
    border-width: thick;
}



.modal-with {
    width:740px;
    margin-left: -70px;
}

.right-border
{
    border-right: 1px solid rgb(181, 179, 176);
}

.scroll-container
{
    overflow-y: auto;
    height: 350px;
}

.avatar-display {
    display: none;
}

/*Category*/

/* .category{
    font-size: 1.1rem;
} */

.category label
{
    width: 100px;
    background: #FCEFEE;
    color: #000;
    padding: 6px;
    margin: 5px;
    /* box-sizing: border-box; */
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

.category input:checked+label
{
    background: #0D768B;
    color: #FFF;
}

.category input{
    display: none;
}

.category-badge{
    font-size: 1.1rem;
}

/* Post Show */
.img-postshow {
    width: 500px !important;
    height: 300px !important;
    object-fit: cover;
}

.masonry {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px; /* マージン調整 */
}

 .masonry-item {
    margin-bottom: 30px;
    padding-left: 15px; /* マージン調整 */
    width: 100%; /* アイテムの幅 */
}

.fixed-size-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.avatar-profile
{
    width: 8rem;
    height: 8rem;
    margin-left: 1rem;
    object-fit: cover;
}
.profile-name
{
    margin-left: 2rem;
    font-size: 3rem;
}
.icon{
    font-size: 8rem;
    margin-left: 1rem;
    object-fit: cover;
}

/* Enpathy range */

   #percentage {
    appearance:none;
    background-color: #FCEFEE;
    width:15%;
    height:20px;
}

    #percentage::-webkit-slider-runnable-track {
        height:20px;
        background:linear-gradient(90deg,#fff,#f78279);
        /* background:linear-gradient(90deg,#fff,#ea49a2); */
        border-radius:8px;
     }

    #percentage::-webkit-slider-thumb {
        appearance:none;
        width:20px;
        height:20px;
        border-radius:50%;
        /* background:#f88ac7; */
        background:#f78279;
        transform:scale(1.5);
        cursor:pointer;
        border: solid 1px #f78279;
        /* border:solid 1px #f88ac7; */
    }

    #percentage::-moz-range-track {
        height:20px;
        /* background:linear-gradient(90deg,#fff,#ea49a2); */

        border-radius:5px;
    }

    #percentage::-moz-range-thumb {
        width:15px;
        height:15px;
        border-radius:50%;
        /* background:#fff; */

    }




